In [8]:
import pandas as pd
import numpy as np
from scipy.stats import norm
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import warnings; warnings.simplefilter('ignore')

In [9]:
train = pd.read_csv('0120.csv', index_col='id')
print(train.shape)

(11, 7)

In [10]:
train.head()

     \ta  \tb   \tc    \td   e  f      g
id
aa  1.00  2.0  -3.0   2.00 NaN  x   0.84
bb -1.00  NaN   0.9  45.00 NaN  o   5.00
cc  5.00  7.0  78.0 -35.00 NaN  o   0.51
dd  2.00  2.0   7.0   1.00 NaN  o -35.00
ee  0.22  0.0   NaN   0.84 NaN  o   1.00

In [11]:
check_null = train.isna().sum() / len(train)
check_null[check_null >=0.5]

e    0.727273
dtype: float64

In [12]:
remove_cols = check_null[check_null >= 0.5].keys()
train = train.drop(remove_cols, axis=1)
train.head()

     \ta  \tb   \tc    \td  f      g
id
aa  1.00  2.0  -3.0   2.00  x   0.84
bb -1.00  NaN   0.9  45.00  o   5.00
cc  5.00  7.0  78.0 -35.00  o   0.51
dd  2.00  2.0   7.0   1.00  o -35.00
ee  0.22  0.0   NaN   0.84  o   1.00

In [13]:
obj_t = train.select_dtypes(include='object')
num_t = train.select_dtypes(exclude='object')
print('Object type columns:\n',obj_t.columns)
print('---------------------------------------------------------------------------------')
print('Numeric type columns:\n',num_t.columns)

Object type columns:
 Index(['f'], dtype='object')
---------------------------------------------------------------------------------
Numeric type columns:
 Index(['\ta', '\tb', '\tc', '\td', 'g'], dtype='object')

In [16]:
index_t = train.index
dummy_t = pd.get_dummies(obj_t, drop_first=True) #첫번째 값을 기준으로 T/F으로 나눔
dummy_t.index = index_t
dummy_t.head()

    f_x
id
aa    1
bb    0
cc    0
dd    0
ee    0

In [17]:
train.head()

     \ta  \tb   \tc    \td  f      g
id
aa  1.00  2.0  -3.0   2.00  x   0.84
bb -1.00  NaN   0.9  45.00  o   5.00
cc  5.00  7.0  78.0 -35.00  o   0.51
dd  2.00  2.0   7.0   1.00  o -35.00
ee  0.22  0.0   NaN   0.84  o   1.00

In [18]:
dummy_t.head()

    f_x
id
aa    1
bb    0
cc    0
dd    0
ee    0

In [20]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()

In [26]:
imp_mean = SimpleImputer(missing_values =np.nan, strategy= 'mean')
imp_mean.fit(num_t)

SimpleImputer()

In [27]:
train.head()

     \ta  \tb   \tc    \td  f      g
id
aa  1.00  2.0  -3.0   2.00  x   0.84
bb -1.00  NaN   0.9  45.00  o   5.00
cc  5.00  7.0  78.0 -35.00  o   0.51
dd  2.00  2.0   7.0   1.00  o -35.00
ee  0.22  0.0   NaN   0.84  o   1.00

In [28]:
num_t.head()

     \ta  \tb   \tc    \td      g
id
aa  1.00  2.0  -3.0   2.00   0.84
bb -1.00  NaN   0.9  45.00   5.00
cc  5.00  7.0  78.0 -35.00   0.51
dd  2.00  2.0   7.0   1.00 -35.00
ee  0.22  0.0   NaN   0.84   1.00

In [31]:
imp_mean.transform(num_t)

array([[  1.        ,   2.        ,  -3.        ,   2.        ,
          0.84      ],
       [ -1.        ,   2.6       ,   0.9       ,  45.        ,
          5.        ],
       [  5.        ,   7.        ,  78.        , -35.        ,
          0.51      ],
       [  2.        ,   2.        ,   7.        ,   1.        ,
        -35.        ],
       [  0.22      ,   0.        ,  19.65555556,   0.84      ,
          1.        ],
       [  2.16      ,   1.        ,   1.        ,   5.        ,
          0.84      ],
       [  5.        ,   4.        ,   7.        ,   0.51      ,
          0.        ],
       [  5.        ,   7.        ,  78.        , -35.        ,
          1.        ],
       [  2.        ,   2.        ,   7.        ,   1.        ,
          4.        ],
       [  0.22      ,   0.        ,  19.65555556,   0.84      ,
          7.        ],
       [  2.16      ,   1.        ,   1.        ,   5.        ,
          2.        ]])

In [32]:
num_t.head()

     \ta  \tb   \tc    \td      g
id
aa  1.00  2.0  -3.0   2.00   0.84
bb -1.00  NaN   0.9  45.00   5.00
cc  5.00  7.0  78.0 -35.00   0.51
dd  2.00  2.0   7.0   1.00 -35.00
ee  0.22  0.0   NaN   0.84   1.00